#select {
    margin: 30px auto;
    padding: 0 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    width: 100%;
    max-width: 530px;
}

.custom-select label {
    color:#FFA800;
    line-height: 50px;
} 

/* SELECT */
#buy-ticket button {
    position: relative;
    font-family: 'Montserrat';
    font-size: 18px;
    color: #2F4858;
    background-color: #E7E7E7;
    border-radius: 7px;
    padding: 0 14px;
    height: 44.6px;
    border: none;
    cursor: pointer;
    margin: 20px 0 0px auto;
}

/* SELECT */

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: 'Montserrat';
    width: 150px;
    margin-right: 50px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: #E7E7E7;
    border-radius: 7px;
    width: 150px;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 69.5px;
    right: 10px;
    width: 14px;
    height: 8px;
    background-image: url("../img/list.png");
    background-size: 14px 8px;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    top: 69.5px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #2F4858;
    font-weight: 400;
    font-size: 18px;
    padding: 12.5px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
  }

  .select-arrow-active {
    border-radius: 7px 7px 0 0;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #E7E7E7;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 0 0 7px 7px;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }


#buy-ticket button {
    background-color: orange;
    color: white;
}

#buy-ticket button:hover {
    background-color: rgba(255, 166, 0, 0.642);
}


/* FILM */

#katalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1420px;
    padding: 0px 20px;
    margin-left: auto;
    margin-right: auto;
}

.film {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 450px;
    background-color: #c4c4c440;
    border-radius: 8px;
    margin: 20px;
}

.poster {
    background-color: orange;
    border-radius: 8px;
    width: 180px;
    height: 270px;
}

.poster img {
  width: 180px;
  height: 270px;
}

.film-name {
    text-align: left;
    flex-grow: 1;
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
}

.film-name a {
    color: black;
    text-decoration: none;
    line-height: 36px;
    font-size: 24px;
}

.film-name a:hover {
    color: orange;
    transition: .1s ease-in-out;
}

.date-time {
    border-left: solid 2px #d1d1d1;
    text-align: right;
    padding-right: 10px;
    line-height: 36px;
    font-size: 22px;
    width: 220px;
}

.description {
    padding-top: 20px;
    color: #464646;
}

.zanrs, .ilgums, .vec_ier {
  display: inline-block;
  margin-top: 100px;
  margin-right: 10px;
  padding: 10px 15px;
  border-radius: 8px;
}

.zanrs {
  color: #ffffff;
  background-color: orange;
}

.vec_ier {
  color: #ffffff;
  float: right;
}

#number {
  padding: 12.5px 5px 12.5px 16px;
  width: 60px;
  border: none;
  background-color: #E7E7E7;
  border-radius: 8px;
  font-size: 18px;
}

/*Sedvietas izvele*/

.grey {
  width: 50px;
}


.styled-checkbox {
  display: none;
}

.styled-checkbox + span:before {
  content: url('../img/orange.png');
  display: inline-block;
  width: 50px;
  height: 50px;
}

.styled-checkbox:checked + span:before {
  content: url('../img/red2.png');
  width: 50px;
  height: 50px;
}

.styled-checkbox:disabled + span:before {
  content: url('../img/grey.png');
  width: 50px;
  height: 50px;
}

#instrukcija {
  margin-top: 20px;
  padding-top: 10px;
  width: 280px;
}

#instrukcija2 {
  margin-top: 20px;
  padding-top: 30px;
  width: 280px;
}

#instrukcija span {
  display: inline-block;
  padding: 10px 0;
}

#instrukcija div {
  display: inline-block;
}

#instrukcija img {
  margin-bottom: -15px;
  margin-right: 10px;
}

